<div class="game-container">
    <h1>Tic-Tac-Toe</h1>
  
    <div class="status" *ngIf="!winner && !isDraw">
      Current Player: {{ currentPlayer }}
    </div>
  
    <div class="board">
      <button *ngFor="let value of board; let i = index"
              (click)="makeMove(i)"
              [ngClass]="{'cell': true, 'x': value === 'X', 'o': value === 'O', 'winner-highlight': winningCombination?.includes(i)}"
              [disabled]="value || winner || isDraw">
        {{ value }}
      </button>
    </div>
  
    <div *ngIf="winner" class="message">
      Winner: {{ winner }}
    </div>
  
    <div *ngIf="isDraw && !winner" class="message">
      It's a draw!
    </div>
  
    <div class="score">
      <p>Player X Wins: {{ playerXWins }}</p>
      <p>Player O Wins: {{ playerOWins }}</p>
    </div>
  
    <div class="streak" *ngIf="winningStreakX > 0 || winningStreakO > 0">
      <p *ngIf="winningStreakX > 0">Player X Winning Streak: {{ winningStreakX }}</p>
      <p *ngIf="winningStreakO > 0">Player O Winning Streak: {{ winningStreakO }}</p>
    </div>
  
    <button class ="buttons-container" (click)="startNewGame()">New Game</button>
    <button class ="buttons-container" (click)="resetStats()">Reset Stats</button>

  </div>