<div class="game-container">
    <h1>Tic-Tac-Toe</h1>
  
    <div class="status" *ngIf="!winner && !isDraw">
      Current Player: {{ currentPlayer }}
    </div>
  
    <div class="board">
        <button *ngFor="let value of board; let i = index"
                (click)="makeMove(i)"
                [ngClass]="{'cell': true, 'x': value === 'X', 'o': value === 'O', 'winner-highlight': winningCombination?.includes(i)}"
                [disabled]="value || winner || isDraw">
          {{ value }}
        </button>
      </div>
  
    <div *ngIf="winner" class="message">
      Winner: {{ winner }}
    </div>
  
    <div *ngIf="isDraw && !winner" class="message">
      It's a draw!
    </div>
  
    <button (click)="startNewGame()">New Game</button>
  </div>